<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/style.css">
    <script type="text/javascript" src="../../app.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="nav">
        <a class="option">Home</a>
    </div>
    <h1>View Trips</h1>
    <br>
    <table class="view-trips">
        <tr>
            <th>Trip ID</th>
            <th>Bus Liner</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Seats Available</th>
            <th>Date of Departure</th>
            <th>Fare</th>
        </tr>
        <% trips.forEach(function(value) { %>
            <tr>
                <td><%= value.trip_id %></td>
            </tr>
        <% }) %>
    </table>
</body>
</html>